version: "3.3"
services:
  navidrome:
    image: "deluan/navidrome:{{ navidrome.image_version }}"
    restart: always
    env_file:
      - "{{ navidrome_docker_path | expanduser | realpath }}/env.navidrome.conf"
    volumes:
      - {{ navidrome_config_volume }}:/data
      - {{ navidrome_music_volume }}:/music:ro
    ports:
      - {{ navidrome.host_port }}:4533
    networks:
      - navidrome

{% if bonob.enabled %}
  bonob:
    image: simojenki/bonob:{{ bonob.image_version }}
    restart: always
    depends_on:
      - navidrome
    env_file:
      - "{{ navidrome_docker_path | expanduser | realpath }}/env.bonob.conf"
    ports:
      - "{{ bonob.host_port }}:3000"
    networks:
      - navidrome
      - default
{% endif %}

networks:
  navidrome: {}